@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  @media screen and (max-width: 500px) {
    
    margin: 0 auto;
  }
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 530px;
  margin: 0 auto;
  padding: 4px;

  @media (min-width: 640px) {
    padding: 2px;
  }

  @media (min-width: 768px) {
    padding: 10px;
  }

  @media (min-width: 1024px) {
    padding: 20px;
  }
}
